<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Summary</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
  </head>
  <body>
    <section class="hero is-success is-half">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"><strong>{{display_name}}'s Rooms</strong></h1>
        <h2 class="subtitle">
            <A HREF="/">Home</A> |
            <A HREF="/myspaces">My Spaces</A> | 
            <A HREF="/history">History</A>
          </h2>
    </div>
</div>
</section>
<section class="hero is-halfheigth">
<div class="hero-body">
<div class="container">
  <div class="content">
    Your backup tasks have been queued. Please monitor your Webex Teams chat for updates sent by the <strong>Teams Backup</strong> bot.
  </div>
  <div class="content">
    You can also check the status and history of your backup jobs by checking the <strong><a href="/history">History</a></strong> page.
  </div>
<table id="results">
<thead>
<tr>
<td>
<h3>Status</h3>
</td>
<td>
<h3>Room Name</h3>
</td>
<td>
<h3>Team Name</h3>
</td>
</tr>
</thead>
<tbody>
{% for item in data %}
<tr>
<td>{{item.get("status")}}</td>
<td>{{item.get("room_name")}}</td>
<td>{{item.get("team_name")}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<script>
  $(document).ready( function () 
  {$('#results').DataTable();
  } );
</script>
</div>
</div>
</section>
</body>
</html>