<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rooms Page</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
  </head>
  <body>
    <section class="hero is-success">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"><strong>{{display_name}}'s Spaces</strong></h1>
        <h2 class="subtitle">
          <A HREF="/">Home</A> |
          <A HREF="/history">History</A>
          </h2>
          <div>
            <h3 class="content">
              Here you see the list of your Webex Teams spaces.<br>
              Select one or more using the checkbox, then click on "Start Backup".<br>
              Please do not close this page until the task is complete.<br>
              You will get notifications about the progress directly on your Webex Teams chat.
            </h3>
          </div>
    </div>
    </div>
    </section>

    <section class="hero">
    <div class="hero-body">
      <div class="container">
          <button class="button" form="backup">Start backup</button>
      </div>

      <div class="container">
<form action="/backuptask" method="post" id="backup">
<table id="myrooms" class="display">
<thead>
<tr>
<td>
<h3><b>Select</b></h3>
</td>
<td>
<h3><b>Space Name</b></h3>
</td>
<td>
<h3><b>Team Name / e-mail</b></h3>
</td>
<td>
<h3><b>Type</b></h3>
</td>
<td>
<h3><b>Last Activity</b></h3>
</td>
</tr>
</thead>
<tbody>
{% for item in data %}
<tr>
<td>
<p>
  <input type="checkbox" name="room_id" value={{item.get("room_id")}}>
</p>
</td>
<td><a href={{item.get("space_link")}}>{{item.get("room_title")}}</a></td>
<td>
  {% if item.get("team_name") %}
  {{item.get("team_name")}}
  {% elif item.get("member_mail") %}
  <a href='mailto:{{item.get("member_mail")}}'>{{item.get("member_mail")}}</a>
  {% endif %}
</td>
<td>{{item.get("room_type")}}</td>
<td>{{item.get("last_activity")}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</form>
<script>
  $(document).ready( function () 
  {$('#myrooms').DataTable();
  } );
</script>
</div>
<div class="container">
  <button class="button" form="backup">Start backup</button>
</div>
</div>
</section>
</body>
</html>