<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    {% if allowed %}
    <section class="hero is-success is-fullheight">
    {% else %}
    <section class="hero is-danger is-fullheight">
    {% endif %}
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Welcome {{display_name}}
          </h1>
          <h2 class="subtitle">
            {{mail}}
          </h2>
          {% if allowed %}
          <h3 class="content">
            This tools allows you to get a dump of one or more Webex Teams rooms, including messags and attachments.<br>
            The archive will be sent to your own Webex Team account in .zip format.
          </h3>
          <h2 class="subtitle">
            <A HREF="/myspaces">Click <srong>here</strong> to get started</A>
          </h2>
          {% else %}
          <h2 class="subtitle">
            Sorry. Your account is not allowed to use this application 😢
          </h2>
          {% endif %}
        </div>
      </div>
    </section>
    <section>
      <div class="hero is-half">
        <div class="container content">
          <A href="/tokenrefresh">Refresh token</A>
        </div>
      </div>
    </section>
  </body>
</html>